.header
    .header__letter-box
        .header__letter-m м
        .header__letter-k к
        .header__letter-l л
    .header__content
        .header__inner
            .header__logo
                img(src='img/header/MKL-Logo.png' alt='М-К-Л')
            h3.h3.header__title Мастерская коучинга и тренинга Леонида Кроля
            .header__desc
                | Сайт для известного психолога, бизнес-коуча и корпоративного тренера Леонида Кроля
        .header__laptop
            img(src='img/header/laptop.png' alt='М-К-Л')
