section.section-inner-page
    .section-inner-page__deckor
        .section-inner-page__circle-purple
        .section-inner-page__circle-yellow
        .section-inner-page__circle-blue
        .section-inner-page__triangle-red
        .section-inner-page__triangle-yellow
        .section-inner-page__circle-light-blue
    .section-inner-page__content
        h2.h2.section-inner-page__title
            | Внутренние
            br
            |страницы
        .section-inner-page__text
            | На странице «Тренинги» расположен список всех бизнес-тренеров Мастерской, с краткой информацией о каждом из них. У каждого тренера есть отдельная страница с более полными данными о них, об их тренингах и курсах.
        .section-inner-page__layout
            .section-inner-page__layout-img
                img(src='img/section-inner-page/screenshot-1.png' alt='Страница «Тренинги»')
        .section-inner-page__text
            | У каждого тренинга есть отдельная страница - небольшой красочный лендинг с возможностью забронировать место на конкретную дату.
        .section-inner-page__layout
            .section-inner-page__layout-img
                img(src='img/section-inner-page/screenshot-2.png' alt='Отдельная страница тренинга')
        .section-inner-page__text
            | Для списка тренингов мы создали отдельный раздел, где можно прочесть о всех мероприятиях и свободных датах. Слева есть фильтр «Тренер/Формат тренинга», который поможет быстрее определиться с выбором.
        .section-inner-page__layout
            .section-inner-page__layout-img
                img(src='img/section-inner-page/screenshot-3.png' alt='Фильтр «Тренер/Формат тренинга»')