section.section-task
    .section-task__content
        .section-task__info
            .section-task__info-left
                h2.h2.section-task__title Задача
                .section-task__text
                    | Леонид Кроль - коуч, тренер, бизнес-консультант, Кандидат медицинских наук, профессор МП Высшей школы экономики, управляющий партнер проекта Incantico, директор Института групповой и семейной психологии и психотерапии, президент НФ КЛАСС. Без удобного и яркого сайта никому не обойтись, даже серьезным бизнес – коучам. Для этого клиента мы создали компактный, планомерный сайт, оформив его элементы сочными цветами
                a(href='http://leonidkroll.com/' target='_blank').section-task__link http://leonidkroll.com/
            .section-task__info-right
                .section-task__portrait
                    img(src='img/section-task/kroll.png' alt='Леонид Кроль')

        .section-task__color-box
            .section-task__color-title Цвета
            .section-task__color-list
                .section-task__color.blue
                .section-task__color.red-orange
                .section-task__color.yellow
                .section-task__color.orange-blue
                .section-task__color.green
                .section-task__color.gray



