extends layouts/default
block variables
	- var title = "Леонид Кроль"

block content
	include ../blocks/components/section-task/section-task
	include ../blocks/components/section-prototype/section-prototype
	include ../blocks/components/section-main-page/section-main-page