section.section-adaptive
    .section-adaptive__content
        h2.h2.section-adaptive__title
            | Адаптивный
            br
            | дизайн
        .section-adaptive__text
            | Разумеется, в эпоху мобильного интернета каждый наш проект мы делаем с адаптивной версткой под различные мобильные устройства и различные разрешения экранов пользователей.
    .section-adaptive__mobile-list
        .section-adaptive__mobile
            img(src='img/section-adaptive/mobile-1.png' alt='Мобильная версия "Главная"')
        .section-adaptive__mobile
            img(src='img/section-adaptive/mobile-2.png' alt='Мобильная версия "О комапании"')
        .section-adaptive__mobile
            img(src='img/section-adaptive/mobile-3.png' alt='Мобильная версия "Расписание"')