section.section-prototype
    .section-prototype__content
        .section-prototype__text
            span Проектирование
            | . Первый этап работы — создание динамического прототипа. Мы переосмыслили существующий сайт и спроектировали интерфейс с упором на презентацию тренингов компании.
    .section-prototype__layout