.wrap-kroll {

  & .section-design {
    width: 100%;
    height: 1920px;
    background: center no-repeat url("../img/section-design/bg_design.png");
    background-size: cover;
    @include lg-block {
      height: 720px;
    }

    @include sm-block {
      height: 600px;
    }

    @include xs-block {
      height: 400px;
    }
  }
}