section.section-main-page
    .section-main-page__content
        h2.h2.section-main-page__title Главная страница
        .section-main-page__layout-box
            .section-main-page__massage-box
                .section-main-page__massage.screen-1
                    p В рамках Мастерской коучинга проводятся открытые и корпоративные тренинги, лекции, закрытые тематические встречи, разумеется, на сайте можно записаться на любой интересующий курс одним нажатием клавиши.
                .section-main-page__massage.screen-2
                    p Кликнув на яркий слайдер главной страницы, мы переходим в раздел с семинарами, где наглядно представлена вся информация о курсах. Мы разместили два вида цен – со скидкой при заблаговременной оплате и без.
                .section-main-page__massage.screen-3
                    p Мастерская коучинга проводит и корпоративные тренинги, которые помогут профессионалам любых сфер работать эффективнее и развиваться. Здесь вы можете увидеть “доску почета” – Леонид и его команда работали со знаковыми лидерами рынка услуг.
                .section-main-page__massage.screen-4
                    p Блог и отзывы оформлены в минималистичном решении. К слову, блог обновляется с завидной регулярностью, время прочтения статей от двух до пяти минут! Тексты без воды, максимально полезные и компактные – для удобства и удовольствия.
                .section-main-page__massage.screen-5
                    p Вишенка на торте – программы в Италии. Ссылка ведет другой сайт - партнерский проект Леонида – Incantico, но это уже немного другая история.
            .section-main-page__decor
                .section-main-page__curcle-yellow
                .section-main-page__curcle-purple
                .section-main-page__triangle-gray
                .section-main-page__curcle-blue
            .section-main-page__layout-img
                img(src='img/section-main-page/layout.png' alt='Главная страница')