.footer
    .footer__content
        .footer__text
            | Заходите на сайт и бронируйте курсы всего парой кликов! Рост и прогресс гарантированы!
        a(href='http://leonidkroll.com' target='_blank').footer__link leonidkroll.com
        .footer__logo
            a(href='https://letsrock.pro/' target='_blank')
                img(src='img/footer/letsrock_logo.svg')
            .footer__year 2018

