include ../utils/mixins

block variables

doctype html
html(lang="en")
	head
		include ../includes/head
	body
		.wrap-kroll
			block header
				include ../../blocks/modules/header/header
			block content

			block footer
				include ../../blocks/modules/footer/footer
		include ../includes/scripts