.wrap-kroll {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 26px;

	color: #6B6A6A;

	& .h1,
	& .h2,
	& .h3 {
		@include font-monserat;
		margin: 0;
		padding: 0;
	}

	& .h3 {
		font-style: normal;
		font-weight: bold;
		font-size: 44px;
		line-height: 59px;
		@include sm-block {
			font-size: 34px;
			line-height: 42px;
		}
	}

	& .h2 {
		font-weight: 800;
		font-size: 80px;
		line-height: 98px;
		text-transform: uppercase;
		color: rgba(0, 0, 0, 0.1);
		@include md-block {
			font-size: 60px;
			line-height: 68px;
		}
		@include md-block {
			font-size: 36px;
			line-height: 48px;
		}
	}
}